.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
.idea/workspace.xml
.idea/misc.xml
sandbox/src/main/java/first/train/sandbox/MySecondProgram.java
sandbox/src/main/java/first/train/sandbox/MySecondProgram.java
*.xml
addressbook-web-tests/build/tmp/test/jar_extract_1166161857477901996_tmp
addressbook-web-tests/build/tmp/test/jar_extract_2463680192498407737_tmp
addressbook-web-tests/build/tmp/testContacts/jar_extract_1851868264804686929_tmp
*.log
